body {
    margin: 0;
    background-color: #4158A6;
}

.main-title {
    text-align: center;
}

.main-content {
    max-width: 80vw;
    margin: 0 auto;
}

.address-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1em;
    grid-auto-flow: dense;
    margin-block-end: 1.5em;

}

.address-section article {
    
    max-width: 450px;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    align-items: center;
    background-color: #F1DEC6;

}

.address-section article h3 {
    grid-column: 1 / -1;
    background-color: #179BAE;
    margin: 0;
}

.address-section article img {
    min-width: 180px;
    grid-column: 1;
}

.address-section article .info {
    padding-inline-end: 1em;
    grid-column: 3;
    font-weight: bold;

}

.address-section article .info li {
    display: flex;
    justify-content: space-between
}

.address-section article .info li span {
    font-weight: 400;
}